* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fefefe;
	color: #444444;
}

div {
	box-sizing: border-box;
}

p {
	font-family: 'Playfair Display', serif;
	line-height: 1.75rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Parisienne', cursive;
	text-align: center;
	color: #2f2f2f;
}

header {
	background-color: #597081;
	position: fixed;
	top: 0;
	width: 100%;
}

h1 {
	padding: 1rem;
	margin: 0;
	text-align: left;
    display: inline-block;
}

h2 {
	font-size: 3rem;
}

h2:after {
	border-bottom: 1px solid #2f2f2f;
	content: '';
	width: 7rem;
	display: block;
	margin: 0 auto;
	height: 1px;
}

h2 + p {
	text-indent: 1.25rem;
}


img {
	width: 100%;
	height: auto;
	margin-bottom: 2rem;
	box-shadow: -1px 1px 5px -1px #757575;
}

a {
	color: #08A4BD;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover, header a:focus {
	color: #DDDDDD;
	text-decoration: none;
}

#md-content {
	max-width: 50rem;;
	margin: 0 auto;
	padding: 4rem 2rem 10rem 2rem;
}

.open-rsvp {
	float: right;
	font-style: italic;
	cursor: pointer;
	height: 100%;
	font-size: 1.5rem;
	padding: 1.2rem;
	font-family: 'Playfair Display', serif;
}

.user {
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

.response {
	border: 1px solid #ccc;
	padding: 20px;
}

.response.cant {
	background-color: #ffeeee;
}

