body {
	margin: 0;
	padding: 0;
	background-color: #fefefe;
	color: #444444;
}

h1 + p {
	text-indent: 1.25rem;
}

div {
	box-sizing: border-box;
}

p {
	font-family: 'Playfair Display', serif;
	line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Parisienne', cursive;
	text-align: center;
	color: #2f2f2f;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h2:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 7rem;
    display: block;
    margin: 0 auto;
    height: 1px;
}

img {
	width: 100%;
	height: auto;
	margin-bottom: 2rem;
	box-shadow: -1px 1px 5px -1px #333;
}

#md-content {
	max-width: 50rem;;
	margin: 0 auto;
	padding: 2rem;
	padding-bottom: 10rem;
}

