body {
	margin: 0;
	padding: 0;
	background-color: #fefefe;
	color: #444444;
}

h1 + p {
	text-indent: 1.25rem;
}

div {
	box-sizing: border-box;
}

p {
	font-family: 'Playfair Display', serif;
	line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Parisienne', cursive;
	text-align: center;
	color: #2f2f2f;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h2:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 7rem;
    display: block;
    margin: 0 auto;
    height: 1px;
}

img {
	width: 100%;
	height: auto;
	margin-bottom: 2rem;
	box-shadow: -1px 1px 5px -1px #333;
}

#md-content {
	max-width: 50rem;;
	margin: 0 auto;
	padding: 2rem;
	padding-bottom: 10rem;
}

#open-rsvp {
	position: fixed;
	right: 0;
	top: 0;
	padding: 1rem 2.5rem;
	border: none;
	border-bottom-left-radius: 0.75rem;
	cursor: pointer;
	box-shadow: 2px -2px 10px 2px #9a8484;
	background-color: #fddcdc;
	color: #1d0505;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
	text-decoration: none;
}

#open-rsvp:hover, #open-rsvp:focus, #open-rsvp:active {
	text-decoration: none;
	background-color: #efcaca;
}


